[submodule "nx"]
	path = nx
	url = git@gitee.com:niu2x/nx.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "RmlUi"]
	path = RmlUi
	url = git@github.com:mikke89/RmlUi.git
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip
[submodule "assimp"]
	path = assimp
	url = https://gitee.com/github-transport/assimp
[submodule "kazmath"]
	path = kazmath
	url = git@github.com:Kazade/kazmath.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
